body {
	min-height: 100%;
	font-family: var(--font-family-name);
	font-weight: 500;
	color: var(--color-text-dark);
	background-color: var(--color-light);
}

section {
  margin-bottom: var(--section-padding-y);

	@include tablet{
		margin-bottom: var(--section-padding-y-mobile);
	}
}

.section {
	&__title{
    margin-bottom: 70px;
		@include tablet{
				text-align: left;
				margin-bottom: 32px;
			}
		&-center {
			text-align: center;
			margin-bottom: 70px;
			@include tablet{
				text-align: left;
				margin-bottom: 32px;
			}
		}
	}
	&-padding{
		padding-block: 100px;
		background: var(--color-bg-light);

		@include tablet{
			padding-block: 40px;
		}
	}
}

a,
button,
input,
textarea,
svg * {
	transition-duration: (var(--transition-duration));
}

a {
	color: var(--color-main);
	list-style-type: none;
	text-decoration: none;
}

h1,
h2,
h3,
h4 {
	font-family: var(--second-font-family);
  font-weight: 700;
  color: var(--color-main-dark);
	line-height: 1.10;
}

h1 {
	@include fluid-text(70,30);

	@include desktop {
		font-size: 54px;
	}

	@include tablet {
		font-size: 30px;
	}
}

h2 {
	@include fluid-text(54,26);
	
	@include desktop {
		font-size: 44px;
	}

	@include tablet {
		font-size: 26px;
	}
}

h3 {
	@include fluid-text(40,22);

	@include desktop{
		font-size: 30px;
	}

	@include tablet {
		font-size: 22px;
	}
}

h4 {
	@include fluid-text(30,20);

	@include desktop{
		font-size: 24px;
	}

	@include tablet {
		font-size: 20px;
	}
}

p {
	@include fluid-text(18,14);
	font-weight: 500;
	margin-block: 0;
	line-height: 1.5;
}

.swiper{
	@include desktop{
		width: 100%;
		overflow: visible;
	}
}
