@mixin fluid-text($max: 70, $min: 14) {
	font-size: clamp(#{$min}px, #{calc($max / 1280) * 100}vw, #{$max}px);
}

@mixin abs-center {
	position: absolute;
	top: 50%;
	left: 50%;
	translate: -50% -50%;
}

@mixin reset-button {
	border: none;
	padding: 0;
	background-color: transparent;
}