* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

:where(ul,ol):where([class]) {
	padding-left: 0;
}

body,
:where(blockquote,figure):where([class]) {
	margin: 0
}

:where(h1,h2,h3,h4,h5,h6,p,ul,ol,dl):where([class]) {
	margin-block: 0;
}

:where(ul[class]) {
	list-style: none;
}

:where(address[class]) {
	font-style: normal;
}

img {
	display: block;
	max-width: 100%;
}

 input,
 textarea,
 select,
 button {
	 font: inherit;
 }

input,
 textarea,
 button:focus-visible,
 input,
 button:active{
	outline: none;
 }
 
html {
	 height: 100%;
	 scroll-behavior: smooth;
 }

 button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}