:root{
	--container-width: 1720px;
	--container-padding-x: 10px;
	--section-padding-y: 200px;
	--section-padding-y-mobile: 80px;

	--color-light: #ffffff;
	--color-main: #007844;
	--color-main-dark: #004728;
	--color-accent: #78D864;
	--color-bg-light: #f5f8f5;
	--color-bg-soft: #e1f0e1;
	--color-text-dark: #3d5b4e;
	

	--border-radius-large: 30px;
	--border-radius-middle: 20px;
	--second-border-radius-middle: 16px;
	--border-radius-small: 12px;
	--border-radius-large-mobile: 16px;
	--border-radius-middle-mobile: 12px;
	--border-radius-small-mobile: 10px;

	--font-family-name: 'Manrope', sans-serif;
	--second-font-family: 'LT Wave', sans-serif;

	--transition-duration: 0.4s;
}