.main-button, .light-button, .white-button {
    display: block;
		height: 56px;
    border-radius: 16px;
    padding-inline:24px;
    font-family: "Manrope", sans-serif;
    font-weight: 600;
    text-align: center;
    transition: all 0.2s ease-in;

		@include tablet{
			width: 100%;
		}
}
.main-button {
    background: var(--color-main);
    color: var(--color-light);
    &:active {
        background: rgba(120, 216, 100, 0.8);
    }
}
.light-button {
    background: var(--color-bg-soft);
    color: var(--color-main);
    &:active {
        background: rgba(0, 120, 68, 0.8);
        color: var(--color-light);
    }
}
.white-button {
    background: var(--color-light);
    color: var(--color-main);
    &:active {
        background: rgba(120, 216, 100, 0.8);
        color: var(--color-light);
    }
}
@media (hover: hover) {
    .main-button:hover {
        background: var(--color-accent);
    }
    .light-button:hover {
        background: var(--color-main);
        color: var(--color-light);
    }
    .white-button:hover {
        background: var(--color-accent);
        color: var(--color-light);
    }
}

.network {
		display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 56px;
    height: 56px;
    background: #eef8ee;
    flex-shrink: 0;
    transition: all 0.3s ease;

		@include desktop{
			width: 42px;
      height: 42px;
		}

    & svg path, & svg circle {
        transition: all 0.3s ease;
    }
    
    &:hover {
        background: var(--color-main);
        & svg path {
            fill: var(--color-light);
        }
    }

    &.search-btn:hover {
        & svg path, & svg circle {
            stroke: var(--color-light);
        }
    }

    &:active {
        opacity: 0.8;
    }
}

.special-version {

	& svg{
		vertical-align: middle;
		& path {
        transition: all 0.3s ease;
    }
	}
    &:hover svg path {
        stroke: var(--color-accent);
    }
}


.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.tag {
    border: 1px solid rgba(1, 79, 45, 0.2);
    border-radius: 16px;
    padding: 20px;
    line-height: 1;

		&-circle {
		display: flex;
    align-items: center;
    gap: 12px;
    border: 1px solid rgba(1, 79, 45, 0.2);
    border-radius: 16px;
    padding: 20px;
    line-height: 1;
    &::before {
        content: "";
        display: block;
        width: 8px;
        height: 8px;
        border-radius: 100%;
        background: var(--color-accent);
        flex-shrink: 0;
    }
	}
	-green {
    border: none;
    font-weight: 600;
    color: var(--color-light);
    background: var(--color-accent);
    display: flex;
    align-items: center;
    gap: 12px;
    &::before {
        content: "";
        display: block;
        width: 8px;
        height: 8px;
        border-radius: 100%;
        flex-shrink: 0;
        background: var(--color-light);
    }
}
}

.green-block {
    background: var(--color-main) url("./../images/green-block-bg.svg") no-repeat;
    background-position: right bottom;
    background-size: auto 100%;

		@include desktop{
			 background-position: right -190px bottom;
		}

		@include tablet{
			background-position: right 0% bottom -1000px;
        background-size: 70% 180%;
		}

		@include mobile{
			background-position: right 0% bottom -1000px;
        background-size: 100% 180%;
		}
}

.swiper-button-disabled {
  opacity: 0.3;
  pointer-events: none;
  cursor: default;
	background-color: transparent;
}

.slider-buttons {
    display: flex;
    gap: 12px;

		@include mobile{
			display: none;
		}

		&-center{
			display: flex;
			gap: 12px;
			justify-content: center;
			margin-top: 30px;

			@include mobile{
				display: none;
			}
		}
}

.slider-button-next, .slider-button-prev {
    position: static;
		display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    flex-shrink: 0;
    width: 56px;
    height: 56px;
    border-radius: 28px;
    border: 1px solid rgba(1, 79, 45, 0.2);
    transition: all 0.3s ease;

		&:hover{
			background-color: var(--color-main);
			border: 1px solid var(--color-main);
			&.slider-button-next:after, &.slider-button-prev:after{
				background-color: var(--color-light);
			}
		}
}
.slider-button-next:after {
    content: '';
    display: inline-block;
    width: 16px;
    height: 13px;
    background-color: var(--color-main);
    -webkit-mask: url('data:image/svg+xml;utf8,<svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.75 6.25C8.95101 6.25 6.54899 6.25 14.75 6.25M14.75 6.25L9.5 0.75M14.75 6.25L9.5 11.75" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>') no-repeat center;
    mask: url('data:image/svg+xml;utf8,<svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.75 6.25C8.95101 6.25 6.54899 6.25 14.75 6.25M14.75 6.25L9.5 0.75M14.75 6.25L9.5 11.75" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>') no-repeat center;
    mask-size: contain;
    -webkit-mask-size: contain;
    transition: all 0.3s ease;
}

.slider-button-prev:after {
    content: '';
    display: inline-block;
    width: 16px;
    height: 13px;
    background-color: var(--color-main);
    -webkit-mask: url('data:image/svg+xml;utf8,<svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.75 6.25C6.54899 6.25 8.95101 6.25 0.75 6.25M0.75 6.25L6 0.75M0.75 6.25L6 11.75" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>') no-repeat center;
    mask: url('data:image/svg+xml;utf8,<svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.75 6.25C6.54899 6.25 8.95101 6.25 0.75 6.25M0.75 6.25L6 0.75M0.75 6.25L6 11.75" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>') no-repeat center;
    mask-size: contain;
    -webkit-mask-size: contain;
}