.doctors {
    &__main {
			overflow: hidden;
			border-radius: 30px;
			padding: 50px;
			margin-bottom: 70px;

			@include mobile{
				border-radius: 16px;
        padding: 16px;
			}

			&-row {
				display: flex;
        justify-content: space-between;
        gap: 40px;
				@include tablet{
					flex-direction: column;
          gap: 40px;
				}
				@include mobile{
					gap: 30px;
				}
			}

			&-content {
				display: flex;
        flex-direction: column;
				width: 60%;
        max-width: 770px;

				@include desktop{
					 width: 68%;
				}

				@include tablet{
					width: 100%;
            max-width: 100%;
				}
			}

			&__slider-slide{
				height: auto;
			}

			&-tags {
				margin-bottom: 40px;
				@include tablet{
					 margin-bottom: 20px;
				}
        & .tag {
            padding: 18px 20px;
            font-weight: 600;
            color: var(--color-light);
            border: 1px solid rgba(255, 255, 255, 0.2);

						@include tablet{
							font-size: 14px;
							padding: 14px;
						}
        }
			}

			&-info {
				flex-grow: 1;
        margin-bottom: 50px;
				@include mobile{
					margin-bottom: 30px;
				}
			}

			&-name {
				font-family: var(--second-font-family);
				font-weight: 600;
        font-size: 30px;
        line-height: 1.1;
        color: var(--color-light);
        margin-bottom: 32px;

				@include mobile{
					font-size: 20px;
            margin-bottom: 20px;
				}
			}

			&-quote {
				font-weight: 500;
        font-size: 20px;
        line-height: 1.5;
        color: var(--color-light);
        display: flex;
        align-items: start;
        gap: 20px;

				@include mobile{
					font-size: 16px;
            gap: 20px;
            flex-direction: column;
				}
        &::before {
            content: "";
            display: block;
            width: 28px;
            height: 19px;
            background: url("./../images/icons/quote.svg") no-repeat center / contain;
            flex-shrink: 0;

						@include mobile{
							 width: 24px;
                height: 17px;
						}
        }
			}

			&-link {
				max-width: 320px;
        border: 1px solid var(--color-bg-soft);
				white-space: nowrap;
				padding: 15px;

				@include mobile{
					 width: 100%;
				}
			}

			&-photo {
				display: flex;
        align-items: end;
        margin-bottom: -50px;
        width: 100%;
        max-width: 35%;
        position: relative;

				@include desktop{
            max-width: 30%;
				}

				@include tablet{
					justify-content: center;
            max-width: 100%;
				}
        & img {
            width: 100%;
            min-width: 460px;
            max-width: 488px;
            object-fit: cover;
            position: absolute;
            bottom: 0;
            right: 0;

						@include desktop{
							min-width: 488px;
              right: -60px;
						}

						@include tablet{
							position: static;
						}
						@include mobile{
					min-width: auto;
                max-height: 450px;
				}
        }
			}
    }

		&__picture > img{
			display: block;
				@include desktop{
					
					min-width: 143%;
    			bottom: -10%;
				}
			}

    &__card {
				display: flex;
        flex-direction: column;
        height: 611px;
        border-radius: 30px;
        background: var(--color-light);
        padding: 16px;

				@include tablet{
					height: 499px;
				}

				@include mobile{
					border-radius: 16px;
            padding: 10px;
				}

        &-photo {
						display: flex;
            align-items: flex-end;
            overflow: hidden;
            border-radius: 20px;
            background: var(--color-bg-soft);
            position: relative;
            height: 386px;

						@include mobile{
							border-radius: 12px;
                height: 260px;
						}
        }
    
        &-pic {
            display: block;
            width: 100%;
            height: 95%;
            & img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: top;
            }
        }
    
        &-exp {
          padding: 16px;
					padding-left: 36px;
					font-size: 16px;
					position: absolute;
					left: 14px;
					bottom: 14px;
					background: var(--color-accent);
					border: none;
					color: var(--color-light);
					@include mobile{
						padding: 14px;
						padding-left: 30px;
						font-size: 14px;
						left: 10px;
						bottom: 10px;
					}

					&::before{
						content: '';
						position: absolute;
						left: 16px;
						top: 42%;
						width: 8px;
						height: 8px;
						background-color: var(--color-light);
						border-radius: 50%;
					}
        }
    
        &-content {
					display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding: 30px 14px 14px;  
					gap: 30px;
          flex-grow: 1;

					@include mobile{
						padding: 20px 6px 6px;
            gap: 24px;
					}
        }
    
        &-text {
          flex-grow: 1;
        }
        
        &-name {
          font-weight: 600;
          font-size: 20px;
          color: var(--color-main-dark);
          margin-bottom: 20px;

					@include mobile{
						font-size: 16px;
            margin-bottom: 16px;
					}
        }
    
        &-post {
            font-size: 16px;
            color: var(--color-text-dark);
						@include mobile{
							 font-size: 14px;
						}
        }
    
        &-buttons {
            display: flex;
						flex-direction: row;
            gap: 10px;

						@include tablet{
							flex-direction: column;
						}
						& a{
							padding: 10px;
						}
            & > * {
                flex: 1 0 40%;
                height: 46px;
                font-size: 16px;

								@include tablet{
									flex: auto;
									height: 50px;
    							border-radius: 12px;
								}
            }
        }
    }
}

.doctors-page {
    & .doctors__card {
        background: var(--color-bg-light);
    }
    & .doctors__card-photo {
        background: var(--color-bg-soft);
    }
}