
// doctors
.doctors {
	
    &__main {
			overflow: hidden;
			border-radius: 30px;
			padding: 50px;
			margin-bottom: 70px;

			&-row {
				display: flex;
        justify-content: space-between;
        gap: 40px;
			}

			&-content {
				display: flex;
        flex-direction: column;
				width: 60%;
        max-width: 770px;
			}

			&__slider-slide{
				height: auto;
			}

			&-tags {
				margin-bottom: 40px;
				@include tablet{
					 margin-bottom: 20px;
				}
        & .tag {
            padding: 18px 20px;
            font-weight: 600;
            color: var(--color-light);
            border: 1px solid rgba(255, 255, 255, 0.2);

						@include tablet{
							font-size: 14px;
							padding: 14px;
						}
        }
			}

			&-info {
				flex-grow: 1;
        margin-bottom: 50px;
			}

			&-name {
				font-family: var(--second-font-family);
				font-weight: 600;
        font-size: 30px;
        line-height: 1.1;
        color: var(--color-light);
        margin-bottom: 32px;
			}

			&-quote {
				font-weight: 500;
        font-size: 20px;
        line-height: 1.5;
        color: var(--color-light);
        display: flex;
        align-items: start;
        gap: 20px;
        &::before {
            content: "";
            display: block;
            width: 28px;
            height: 19px;
            background: url("./../images/icons/quote.svg") no-repeat center / contain;
            flex-shrink: 0;
        }
			}

			&-link {
				max-width: 320px;
        border: 1px solid var(--color-bg-soft);
				white-space: nowrap;
				padding: 15px;
			}

			&-photo {
				display: flex;
        align-items: end;
        margin-bottom: -50px;
        width: 100%;
        max-width: 35%;
        position: relative;
        & img {
            width: 100%;
            min-width: 460px;
            max-width: 488px;
            //height: 100%;
            object-fit: cover;
            position: absolute;
            bottom: 0;
            right: 0;
        }
			}
    }

		&__picture > img{
			display: block;
				@include desktop{
					
					min-width: 143%;
    			bottom: -10%;
				}
			}

    &__card {
				display: flex;
        flex-direction: column;
        height: 611px;
        border-radius: 30px;
        background: var(--color-light);
        padding: 16px;

				@include mobile{
					height: 499px;
				}

        &-photo {
						display: flex;
            align-items: flex-end;
            overflow: hidden;
            border-radius: 20px;
            background: var(--color-bg-soft);
            position: relative;
            height: 386px;
        }
    
        &-pic {
            display: block;
            width: 100%;
            height: 95%;
            & img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: top;
            }
        }
    
        &-exp {
            padding: 16px;
            font-size: 16px;
            position: absolute;
            left: 14px;
            bottom: 14px;
        }
    
        &-content {
					display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding: 30px 14px 14px;  
					gap: 30px;
          flex-grow: 1;
        }
    
        &-text {
          flex-grow: 1;
        }
        
        &-name {
          font-weight: 600;
          font-size: 20px;
          color: var(--color-main-dark);
          margin-bottom: 20px;
        }
    
        &-post {
            font-size: 16px;
            color: var(--color-text-dark);
        }
    
        &-buttons {
            display: flex;
						flex-direction: row;
            gap: 10px;

						@include tablet{
							flex-direction: column;
						}
						& a{
							padding: 10px;
						}
            & > * {
                flex: 1 0 40%;
                height: 46px;
                font-size: 16px;

								@include tablet{
									flex: auto;
									height: 50px;
    							border-radius: 12px;
								}
            }
        }
    }
}

.doctors-page {
    & .doctors__card {
        background: var(--color-bg-light);
    }
    & .doctors__card-photo {
        background: var(--color-bg-soft);
    }
}


@media (max-width: 1300px) {
    .doctors {
        &__main-content {
            width: 68%;
        }
        &__main-photo {
            max-width: 30%;
            & img {
                min-width: 488px;
                right: -60px;
            }
        }
    }
}
@media (max-width: 1024px) {
    .doctors {
        &__main-row {
            flex-direction: column;
            gap: 40px;
        }
        &__main-content {
            width: 100%;
            max-width: 100%;
        }
        &__main-photo {
            justify-content: center;
            max-width: 100%;
            & img {
                position: static;
            }
        }
    }
}
@media (max-width: 768px) {
    .doctors {
        &__main {
            border-radius: 16px;
            padding: 16px;
        }
    
        &__main-row {
            gap: 30px;
        }
        &__main-info {
            margin-bottom: 30px;
        }
    
        &__main-name {
            font-size: 20px;
            margin-bottom: 20px;
        }
    
        &__main-quote {
            font-size: 16px;
            gap: 20px;
            flex-direction: column;
            &::before {
                width: 24px;
                height: 17px;
            }
        }
    
        &__main-link {
            width: 100%;
        }
    
        &__main-photo {
            & img {
                min-width: auto;
                max-height: 450px;
            }
        }


        &__card {
            border-radius: 16px;
            padding: 10px;
    
            &-photo {
                border-radius: 12px;
                height: 260px;
            }
        
            &-exp {
                padding: 14px;
                font-size: 14px;
                left: 10px;
                bottom: 10px;
            }
        
            &-content {
                padding: 20px 6px 6px;
                gap: 24px;
            }

            &-name {
                font-size: 16px;
                margin-bottom: 16px;
            }
        
            &-post {
                font-size: 14px;
            }
        }
    }
}