.faq {
  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;

		@include mobile{
			gap: 10px;
		}
  }

  &__item {
    list-style: none;
  }

    &__question {
		display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    border: none;
    background: var(--color-bg-light);
    border-radius: 16px;
		padding: 13px 13px 13px 32px;
    cursor: pointer;
    text-align: left;

		@include mobile{
			padding: 16px;
		}

    &:hover {
      background: var(--color-bg-soft);

      .faq__button {
        background: var(--color-bg-light);
      }
    }
  }

  &__item.active {
    .faq__question {
      background: var(--color-bg-soft);

      .faq__button {
        background: var(--color-bg-light);
      }
    }

    .faq__button::before {
      opacity: 0;
    }

    .accordion__content {
      max-height: 500px;
      opacity: 1;
    }
  }

  &__question-text {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    color: var(--color-main-dark);

		@include mobile{
			font-size: 16px;
		}
  }

  &__button {
		display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    border-radius: 10px;
    background: var(--color-bg-light);
    flex-shrink: 0;
		position: relative;

		@include mobile{
			width: 46px;
      height: 46px;
		}
		&::before,
    &::after {
      content: '';
      position: absolute;
      background: var(--color-main);
      transition: opacity 0.3s ease;
    }
		&::after {
      width: 18px;
      height: 2px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &::before {
      width: 2px;
      height: 18px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .accordion__content {
    overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.4s ease, opacity 0.3s ease;
  }

  &__item.active {
    .accordion__content {
      max-height: 500px;
    opacity: 1;
    }
  }

  &__answer {
    padding: 32px;
    border: 1px solid rgba(1, 79, 45, 0.2);
    border-radius: 16px;
    background: var(--color-bg-light) url('./../images/text/blockquote-background.svg') no-repeat right bottom;
		margin-top: 10px;

		@include mobile{
			padding: 20px 16px;
      border-radius: 12px;
      margin-top: 8px;
      background: var(--color-bg-light);
		}
  }

  &__answer-text {
    font-size: 16px;
    line-height: 1.4;
    color: var(--color-main-dark);

    p:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  &__doc {
		display: flex;
    gap: 20px;
    margin-top: 32px;
    padding-top: 32px;
    border-top: 1px solid rgba(1, 79, 45, 0.1);

		@include mobile{
			margin-top: 20px;
      padding-top: 20px;
      gap: 12px;
		}
 

    &-pic {
			display: flex;
      align-items: flex-end;
      width: 100px;
      height: 100px;
      border-radius: 16px;
      background: #e5ece5;
      overflow: hidden;
      flex-shrink: 0;

			@include mobile {
				width: 80px;
        height: 80px;
        border-radius: 10px;
			}

      img {
        width: 100%;
        height: 95%;
        object-fit: cover;
        object-position: top;
      }
    }

    &-text {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 10px;
    }

    &-name {
      display: block;
      margin-bottom: 10px;
      font-weight: 600;
      line-height: 1.2;
      color: var(--color-main-dark);
      text-decoration: none;
			@include mobile{
				margin-bottom: 4px;
			}
    }

    &-post {
      font-size: 14px;
      color: var(--color-main-dark);
    }

    &-exp {
      font-size: 16px;
      color: var(--color-main);
			@include mobile {
        font-size: 14px;
			}
    }
  }
}
