
.form {
    overflow: hidden;
    &__row {
        display: flex;
        justify-content: space-between;
        width: 100%;
        position: relative;
    }
    &__content {
        max-width: 1038px;
        width: 60%;
        position: relative;
        z-index: 2;

				@include desktop{
					width: 62%;
				}
    }

    &__title {
        line-height: 1.1;
        color: var(--color-light);
        margin-bottom: 50px;
    }

    &__subtitle {
        color: var(--color-light);
    }

    &__text {
        margin-bottom: 100px;
    }

    &__wrap {
        display: flex;
        gap: 16px 12px;
        flex-wrap: wrap;
        align-items: center;
        & > * {
            flex: 1 0 40%;

						@include tablet{
							flex: auto;
						}
        }
    }

    &__img {
        display: flex;
        justify-content: end;
        margin-bottom: -100px;
        max-width: 50%;
        position: absolute;
        bottom: 0;
        right: -10px;
        & img {
            width: 100%;
            height: auto;
            object-fit: cover;
            object-position: top;
        }
    }

		&-search{
			position: relative;
			& img{
				position: absolute;
				top: 50%;
				right: 20px;
				transform: translate(0%, -50%);
			}
		}
}

@media (max-width: 1400px) {
    .form {
        &__title {
            margin-bottom: 50px;
        }
    
        &__img {
            right: -70px;
        }
    }
}
@media(max-width: 1200px) {
    .form {
        &__img {
            margin-bottom: -60px;
        }
    }
}
@media (max-width: 1024px) {
    .form {
        &__row {
            flex-direction: column;
        }
    
        &__content {
            max-width: 1038px;
            width: 100%;
        }
    
        &__title {
            margin-bottom: 30px;
        }
    
        &__text {
            margin-bottom: 50px;
        }
    
        &__wrap {
            display: flex;
            gap: 16px 12px;
            flex-wrap: wrap;
            align-items: center;
        }
    
        &__img {
            max-width: 460px;
            position: relative;
            left: 50%;
            transform: translate(-50%, 0%);
        }
    }
}
@media(max-width: 768px) {
    .form {
        &__row {
            gap: 30px;
        }

        &__title {
            margin-bottom: 24px;
        }
    
        &__text {
            margin-bottom: 40px;
        }
    
        &__wrap {
            gap: 8px;
            flex-direction: column;
            align-items: stretch;
        }

        &__button {
            order: 4;
        }

        &__politic {
            margin-top: 8px;
        }
    
        &__img {
            max-width: 380px;
            margin-bottom: -40px;
        }
    }
}
@media (max-width: 660px) {
    .form {
        background-position: right 0% bottom -1000px;
        background-size: 100% 180%;
    }
}


input{
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.1);
    padding: 22px 24px;
    font-weight: 500;
    font-size: 16px;
    color: var(--color-light);
    border: 1px solid transparent;
    transition: all 0.3s ease;

		@include mobile{
			padding: 11px 20px;
		}

    &::placeholder {
        font-weight: 500;
        font-size: 16px;
        color: rgba(255, 255, 255, 0.6);

				@include mobile{
					font-size: 14px;
				}
    }
    &:hover, &:focus, &:active {
        border: 1px solid rgba(255, 255, 255, 0.5);
    }
		&:focus::placeholder {
			color: transparent;
		}

		&[type=search]{
			width: 100%;
		}
}

.politic {
    display: flex;
    align-items: start;
    gap: 10px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.3;
    color: rgba(255, 255, 255, 0.7);
    & a {
        color: inherit;
        text-decoration: underline;
        transition: all 0.3s ease;
        &:hover {
            opacity: 0.7;
        }
    }

    & input[type="checkbox"] {
        position: relative;
        width: 19px;
        height: 19px;
				padding: 0;
        color: #000;
        outline: 1px solid #dbe1dd;
        border: 2px solid var(--color-main);
        border-radius: 5px;
        appearance: none;
        cursor: pointer;
        transition: all 175ms cubic-bezier(0.1, 0.1, 0.25, 1);
        flex-shrink: 0;
        &::before {
            position: absolute;
            content: '';
            display: block;
            top: 50%;
            left: 50%;
            width: 5px;
            height: 9px;
            border-style: solid;
            border-color: var(--color-main);
            border-width: 0 2px 2px 0;
            transform: translate(-50%, -65%) rotate(45deg);
            opacity: 0;
        }
        &:checked {
            background: #fff;
            &::before {
                opacity: 1;
            }
						&:hover{
							opacity: 0.7;
						}
        }
    }
}
form.white {
    & input, textarea {
        border: 1px solid #dfede0;
        background: #fff;
        color: #3d5b4e;
        &::placeholder {
            color: #3d5b4e;
            opacity: 0.6;
        }
        &:hover, &:focus, &:active {
            border: 1px solid #cad2cb;
        }
    }
    & .politic {
        color: rgba(61, 91, 78, 0.7);
        & a {
            color: #3d5b4e;
        }
    
        & input[type="checkbox"] {
            outline: 1px solid #007844;
            border: 2px solid #dbe1dd;
            background: transparent;
            &::before {
                border-color: #dbe1dd;
            }
            &:checked {
                background: #007844;
            }
        }
    }
}

.green-block {
    background: #007844 url("/assets/images/form/form-background.svg") no-repeat;
    background-position: right bottom;
    background-size: auto 100%;
}

@media (max-width: 1400px) {
    .green-block {
        background-position: right -190px bottom;
    }
}
@media (max-width: 1024px) {
    .green-block {
       background-position: right 0% bottom -835px;
        background-size: 70% 180%;
    }
}
@media (max-width: 660px) {
    .green-block {
        background-size: 100% 180%;
    }
}