.hero {
    position: relative;
    padding: 80px 0;
    background: var(--color-bg-light);
    overflow: hidden;

		&::after {
    content: "";
    position: absolute;
    top: 0;
    right: -40px;
    width: 37%;
    height: 100%;
    background: url("./../images/hero/hero-background.png") no-repeat right bottom;
    background-size: cover;
    z-index: 0;

		@include mobile{
			background-position: right bottom 80px;
			top: auto;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 425px;
		}
}

    &__row {
        display: flex;
        justify-content: space-between;
        gap: 40px;
				position: relative;
    z-index: 1;

				@include mobile{
					flex-direction: column;
				}
    }

    &__content {
        width: 100%;
        max-width: 63%;
    }
    
    &__title {
        margin-bottom: 46px;
        max-width: 1054px;

				& span{
					color: #78d864;
				}
    }

    &__text {
        font-size: 20px;
        color: #3d5b4e;
        margin-bottom: 40px;
    }

    &__tags {
        margin-bottom: 50px;
    }

    &__tag {
        & span {
            font-weight: 600;
            font-size: 20px;
            color: var(--color-main);
        }
    }

    &__cards {
        display: flex;
        gap: 12px;
        max-width: 900px;
        margin-bottom: 60px;
    }

    &__card {
        flex: 1 0 30%;
        padding: 24px;
        border: 1px solid #dfede0;
        border-radius: 20px;
        background: var(--color-light);
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &-top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 20px;
            margin-bottom: 26px;

            & span {
                display: block;
                font-size: 14px;
                margin-bottom: 10px;
            }
        }

        &-name {
            font-weight: 600;
            font-size: 20px;
            color: var(--color-main);
        }

        &-list {
            margin-bottom: 20px;
        }

        &-price {
            padding: 16px;
            margin-bottom: 30px;
            font-size: 14px;
            width: fit-content;
            & span {
                font-weight: 600;
                font-size: 16px;
                color: var(--color-main);
            }
        }

        &-link {
            padding-top: 15px;
            font-size: 16px;
        }
    }

    &__buttons {
        display: flex;
				flex-direction: row;
        gap: 12px;
				@include mobile{
					flex-direction: column;
				}
    }

    &__picture {
        display: block;
        width: 100%;
        max-width: 600px;
        max-width: 30%;
        margin-bottom: -80px;
        position: relative;

				@include desktop{
					display: none;
				}

				@include mobile{
					display: block;
					height: 400px;
					max-width: 100%;
				}
        & > img {
            width: 100%;
            object-fit: contain;
            height: 100%;
            object-position: bottom;
            min-width: 138%;
            position: absolute;
            bottom: 0;
            right: -30px;

						@include mobile{
							object-fit: cover;
							object-position: top;
							min-width: 114%;
							left: 50%;
							translate: -50%;
						}
        }
    }



    &__dropper {
        position: relative;
        &-img {
            & img {
                object-fit: contain;
                height: 100%;
                margin: 0 auto;
            }
        }
        &-inner {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 48px;
            padding: 14px;
            border-radius: 12px;
            background: #eef8ee;
            min-height: 175px;
            position: absolute;
            bottom: 227px;
            left: 50%;
            transform: translate(-50%, 0%);
            width: 100%;
            max-width: 216px;
        }
        &-logo {
            & img {
                width: 54px;
                height: 54px;
                object-fit: contain;
            }
        }
        &-text {
            font-weight: 500;
            font-size: 16px;
            line-height: 1.26;
            color: #3d5b4e;
        }
        &-name {
            font-weight: 600;
            font-size: 24px;
            color: var(--color-main);
            margin-bottom: 12px;
        }
    }
}

@media (max-width: 1600px) {
    .hero {
        &__content {
            max-width: 100%;
        }
        &__cards {
            max-width: 80%;
        }
    }
}

@media (max-width: 1230px) {
    .hero {
        background-position: right -180px bottom;
        &__cards {
            max-width: none;
        }
    }
}

@media (max-width: 820px) {
    .hero {
        padding: 32px 0 0;
        background: var(--color-bg-light);

        &__title {
            margin-bottom: 24px;
        }

        &__text {
            font-size: 16px;
            margin-bottom: 24px;
        }

        &__tags {
            margin-bottom: 32px;
        }

        &__tag {
            & span {
                font-size: 18px;
            }
        }

        &__cards {
            flex-direction: column;
            gap: 8px;
            max-width: none;
            margin-bottom: 32px;
        }

        &__card {
            padding: 20px;
            border-radius: 16px;

            &-top {
                margin-bottom: 20px;
            }

            &-list {
                margin-bottom: 20px;
            }

            &-price {
                margin-bottom: 20px;
            }

            &-link {
                padding: 16px;
                font-size: 16px;
            }
        }

        &__buttons {
            & button {
                flex-grow: 1;
            }
        }

        &__picture {
            margin-bottom: 0;
        }
    }
}

.main{
	@include tablet{
		padding-top: 70px;
	}
}

.list ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
		list-style: none;
    & li {
        padding-left: 22px;
        position: relative;
        &::before {
            content: "";
            display: block;
					
            width: 8px;
            height: 8px;
            border-radius: 100%;
            background: #78d864;
            position: absolute;
            top: 10px;
            left: 0;
        }
    }
}

@media (max-width: 768px) {
    .tag {
        border-radius: 12px;
        padding: 18px 20px;
    }
}