
// licenses
.licenses {

	&__title{
		margin-bottom: 50px;

		@include tablet{
			margin-bottom: 24px;
		}
	}

    &__row {
        display: flex;
        justify-content: space-between;
        gap: 100px;

				@include desktop{
					flex-direction: column;
          gap: 40px;
				}

				@include tablet{
					gap: 34px;
				}
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
        max-width: 594px;
    }

    &__text {
        & p {
            margin-bottom: 24px;
        }
    }

    &__card {
        display: block;
        border: 1px solid rgba(1, 79, 45, 0.2);
        border-radius: 20px;
        overflow: hidden;
        position: relative;
    }

    &__card-pic {
        display: block;
        width: 100%;
        height: 100%;
        & img {
            width: 100%;
            height: 100%;
            max-height: 480px;
            object-fit: cover;
            object-position: top;
        }
    }

    &__card-text {
        border: 1px solid #dfede0;
        border-radius: 12px;
        padding: 20px;
        backdrop-filter: blur(8px);
        background: rgba(245, 248, 245, 0.5);
        font-size: 16px;
        color: var(--color-text-dark);
        position: absolute;
        bottom: 12px;
        left: 12px;
        right: 12px;
        z-index: 3;
    }
}

@media (max-width: 1350px) {
    .licenses {
        &__content {
            max-width: 510px;
        }
    }
}
@media (max-width: 1200px) {
    .licenses {
        &__content {
            max-width: 100%;
        }
    }
}

@media (max-width: 768px) {
    .licenses {
        &__text {
            & p {
                margin-bottom: 16px;
            }
        }
    
        &__card {
            border-radius: 16px;
        }
    
        &__card-pic {
            & img {
                max-height: 400px;
            }
        }
    
        &__card-text {
            padding: 16px;
            font-size: 14px;
        }
    }
}