.reviews {

    @include tablet {
        overflow: hidden;
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;

        @include mobile {
            grid-template-columns: repeat(1, 1fr);
            gap: 10px;
        }
    }

    &__slider {
        @include tablet {
            overflow: visible;
        }
    }

    &__card {
        display: flex;
        flex-direction: column;
        border-radius: 30px;
        padding: 30px;
        background: var(--color-light);
        height: 578px;
        transition: height 0.3s ease;

        @include mobile {
            border-radius: 16px;
            padding: 20px;
            height: auto;
        }

        &-top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 20px;
            margin-bottom: 30px;

            @include tablet {
                display: contents;
            }
        }

        &-name {
            color: var(--color-text-dark);
            & span {
                font-weight: 600;
                color: var(--color-main-dark);
            }

            @include tablet {
                margin-bottom: 20px;
            }

            @include mobile {
                font-size: 14px;
            }
        }

        &-tag {
            padding: 16px 20px;

            @include tablet {
                order: 2;
                margin-bottom: 10px;
                justify-content: center;
            }
        }

        &-title {
            font-weight: 600;
            font-size: 20px;
            line-height: 1.2;
            color: var(--color-main-dark);
            padding: 24px 0;
            border-top: 1px solid #dfede0;
            border-bottom: 1px solid #dfede0;
            margin-bottom: 30px;
            display: flex;
            gap: 16px;
            &::before {
                content: '';
                display: block;
                width: 23px;
                height: 16px;
                background: url('./../images/icons/quote.svg') no-repeat center / contain;
                flex-shrink: 0;
            }

            @include tablet {
                font-size: 18px;
            }

            @include mobile {
                font-weight: 600;
                font-size: 14px;
                padding: 16px 0;
                margin-bottom: 16px;
                flex-direction: column;
            }
        }

        &-main {
            flex-grow: 1;
            margin-bottom: 30px;

            @include mobile {
                margin-bottom: 20px;
            }
        }

        &-text {
            line-height: 1.5;
            max-height: 218px;
            overflow: hidden;
            transition: all 0.3s ease;

            @include mobile {
                max-height: 252px;
                font-size: 14px;
            }
        }

        &.is-expanded {
            height: auto;

            & &__card-text {
                max-height: none;
            }
        }

        &-button-more {
            font-weight: 500;
            font-size: 16px;
            color: var(--color-main);
            margin-top: 16px;

            @include mobile {
                font-size: 14px;
                margin-top: 14px;
            }
        }

        &-bottom {
            border: 1px solid #dfede0;
            border-radius: 14px;
            padding: 20px 24px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 20px;

            @include tablet {
                order: 3;
            }

            @include mobile {
                border-radius: 10px;
                padding: 17px;
            }
        }

        &-date {
            font-size: 16px;
            color: var(--color-text-dark);

            @include mobile {
                font-size: 14px;
            }
        }

        &-logo {
            & img {
                max-height: 22px;
                object-fit: contain;
            }

            @include mobile {
                & img {
                    max-height: 17px;
                }
            }
        }
    }
}