
// text
.text, .text .container {

	&__row{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
		gap: 42px;
		width: 100%;

		@include tablet{
			flex-direction: column;
		}

		& > picture {

				@include tablet{
					max-width: 100%;
					width: 100%;
					order: 0;
					height: 300px;
				}

				@include mobile{
					height: 200px;
				}

        & img {
            border-radius: 24px;
            width: 100%;
            height: 100%;
            max-height: 480px;
            min-height: 280px;
            object-fit: cover;

						@include mobile{
							min-height: 200px;
							border-radius: 16px;
						}
        }
    }
	}

	&__content{
		max-width: 73%;
		width: 100%;

		@include tablet{
			max-width: 100%;
			order: 1;
		}

		& > p {
        line-height: 1.5;
        &:not(:last-child){
            margin-bottom: 30px;
						@include tablet{
							margin-bottom: 24px;
						}
        }
    }

	}

    & h2, & h3{
        margin-bottom: 40px;

				@include mobile{
					 margin-bottom: 24px;
				}
        &:not(:first-child) {
            margin-top: 70px;

						@include mobile{
							margin-top: 40px;
						}
        }
    }
    & h2:empty, & h3:empty, & h4:empty, & h5:empty, & h6:empty {
        margin: 0;
    }

    & a {
        font-weight: 600;
        color: var(--color-main);
        transition: all 0.3s ease;
        &:hover {
            color: var(--color-main-dark);
        }
    }

    & ul {
        margin-block: 20px;
				list-style: none;
        & li {
            position: relative;
            padding-left: 22px;
            margin-bottom: 16px;
						line-height: 1.5;
						@include mobile{
							padding-left: 16px;
							margin-bottom: 16px;
							font-size: 14px;
						}
            &::before {
                content: "";
                display: block;
                width: 8px;
                height: 8px;
                border-radius: 100%;
                background-color: var(--color-accent);
                position: absolute;
                top: 8px;
                left: 0;

								@include mobile{
									width: 6px;
									height: 6px;
									top: 10px;
								}
            }
        }
    }

    & ol {
        margin-block: 20px;
        list-style-type: none;
        counter-reset: item;
        & li {
            position: relative;
            padding-left: 58px;
						line-height: 1.5;
            display: flex;
            align-items: center;
            vertical-align: middle;
            margin-bottom: 8px;
						@include mobile{
							padding-left: 52px;
							margin-bottom: 12px;
							font-size: 14px;
						}
            &::after {
                content: counter(item, decimal-leading-zero);
                counter-increment: item;
                display: block;
                position: absolute;
                top: -1px;
                left: 0;
                border: 1px solid rgba(1, 79, 45, 0.2);
                border-radius: 12px;
                padding: 12px 11px;
                font-weight: 700;
                font-size: 18px;
                line-height: 1;
                text-align: center;
                color: var(--color-accent);

								@include mobile{
									font-size: 14px;
								}
            }
            &::before {
                content: "";
                height: 41px;
                width: 1px;
            }
        }
    }

    & .block {
        border-radius: 20px;
        padding: 30px;
        background: var(--color-bg-light);
        font-size: 20px;
        line-height: 1.5;
        color: var(--color-main-dark);
        display: flex;
        align-items: flex-start;
				flex-direction: row;
        gap: 20px;
        margin: 30px 0;

				@include tablet{
					flex-direction: column;
					border-radius: 16px;
					padding: 24px 20px;
					font-size: 16px;
				}

        &::before {
            content: "";
            display: block;
            width: 19px;
            height: 24px;
            background: url('./../images/icons/zipper.svg') no-repeat center / contain;
            flex-shrink: 0;

						@include tablet{
							width: 16px;
							height: 20px;
						}
        }
    }

    & .blockquote {
        border-radius: 20px;
        padding: 30px;
				margin-block: 40px;
        background: var(--color-bg-light) url('./../images/text/blockquote-background.svg') no-repeat right bottom;
        overflow: hidden;

				@include tablet{
					border-radius: 16px;
					padding: 24px 20px;
					margin-block: 24px;
					background: var(--color-bg-light);
				}
        
        &__text {
            display: flex;
            align-items: flex-start;
            gap: 20px;

						@include tablet{
							flex-direction: column;
						}

						& p{
							font-size: 20px;
            	color: var(--color-main-dark);

							@include tablet{
								font-size: 16px;
							}
						}

            &::before {
                content: "";
                display: block;
                width: 28px;
                height: 19px;
                background: url('./../images/icons/quote.svg') no-repeat center / contain;
                flex-shrink: 0;

								@include tablet{
									width: 24px;
									height: 17px;
								}
            }
        }

        &__doc {
            padding-top: 30px;
            margin-top: 30px;
            border-top: 1px solid #dfede0;
            display: flex;
            gap: 20px;

						@include tablet{
							padding-top: 24px;
							margin-top: 24px;
							gap: 12px;
						}

            &-pic {
                display: flex;
                align-items: end;
                width: 100px;
                height: 100px;
                background: #e5ece5;
                border-radius: 16px;
                overflow: hidden;
                flex-shrink: 0;
								@include tablet{
									width: 80px;
									height: 80px;
									border-radius: 10px;
								}
                & img {
                    width: 100%;
                    height: 95%;
                    object-fit: cover;
                    object-position: top;
                }
            }

            &-text {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 16px;
            }

            &-name {
                display: block;
                font-weight: 600;
                font-size: 20px;
                line-height: 1.2;
                color: var(--color-main-dark);
                margin-bottom: 10px;
								@include tablet{
									font-size: 16px;
									margin-bottom: 16px;
								}
            }
            &-exp {
                font-size: 16px;
                color: #007844;

								@include mobile{
									font-size: 14px;
								}
            }
        }

    }
}
